.paper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.219) !important;
}

@media only screen and (max-width: 1200px) {
  .title {
    font-size: 30px !important;
  }
}
