.paper {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.219) !important;
}

.title {
  font-size: 40px;
}

.price {
  font-size: 25px;
}

@media only screen and (max-width: 1200px) {
  .price {
    font-size: 20px;
  }

  .title {
    font-size: 30px;
  }
}
